[tools]
## vfox flutter doesn't work
flutter = "3.27.1"
java    = "temurin-21.0.5+11.0.LTS"

[hooks]
postinstall = [
  "mise x flutter -- flutter config --no-analytics",
  "mise x flutter -- flutter --disable-analytics",
]

[settings]
experimental = true ## For hooks
